#cards{
    display: flex;
    justify-content: space-between;
    background-color: white;
    width: 100%;
    height: 80px;
    /* position: sticky; */
    margin-top: 30%;
}
#pr{
    display: flex;
}
#check{
    margin-left: 90px;
    margin-top: 20px;
}
span{
    font-size: 9px;
    font-weight: bold;
}